[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
codecov = "*"
flake8 = "*"

[packages]
prometheus-client = "==0.7.1"

[requires]
python_version = "3.7"
